body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
}

#message {
    font-size: 5em;
}

.animated-message {
    color: #871f87;
    animation: blinking 3s infinite;
}

@keyframes blinking {
    0% { opacity: 1; }
    20% { opacity: 0.6; }
    100% { opacity: 1; }
}